<li class="exercise">
    <span><%= exercise.name %></span>
    <a href="/syllabus/<%= tcode.tcodeName %>/chapter/<%= chapter.id %>/exercise/<%= exercise.id %>/edit" class="inline-btn">✏️ Edit</a>
   
    <a href="/syllabus/question/new?exercise=<%= exercise.filename %>" class="inline-btn">➕ Add Question</a>


  